document: feedback-pipeline-workload
version: 1
data:
  name: HA
  description: HA needed packages
  maintainer: rhel-sst-high-availability
  packages:
    - booth
    - booth-arbitrator
    - booth-core
    - booth-site
    - booth-test
    - cockpit-ha-cluster
    - corosync-qdevice
    - corosync-qnetd
    - corosynclib-devel
    - fence-agents-all
    - fence-agents-ibm-powervs
    - fence-agents-ibm-vpc
    - fence-agents-nutanix-ahv
    - fence-agents-virsh
    - haproxy
    - ipvsadm
    - keepalived
    - libknet1
    - libknet1-compress-bzip2-plugin
    - libknet1-compress-lz4-plugin
    - libknet1-compress-lzma-plugin
    - libknet1-compress-lzo2-plugin
    - libknet1-compress-plugins-all
    - libknet1-compress-zlib-plugin
    - libknet1-crypto-openssl-plugin
    - libknet1-crypto-plugins-all
    - libknet1-devel
    - libknet1-plugins-all
    - libnozzle1
    - omping
    - pacemaker-cts
    - pacemaker-doc
    - pacemaker-libs-devel
    - pacemaker-remote
    - pcs
    - pcs-snmp
    - resource-agents
    - sbd
    - spausedd
  arch_packages:
    aarch64:
      - fence-agents-aliyun
      - fence-agents-aws
      - fence-agents-azure-arm
      - fence-agents-gce
      - fence-virtd-cpg
      - fence-virtd-libvirt
      - fence-virtd-multicast
      - fence-virtd-serial
      - fence-virtd-tcp
    ppc64le:
      - fence-agents-lpar
    s390x:
      - fence-agents-zvm
    x86_64:
      - fence-agents-aliyun
      - fence-agents-aws
      - fence-agents-azure-arm
      - fence-agents-gce
      - fence-agents-openstack
      - fence-virtd-cpg
      - fence-virtd-libvirt
      - fence-virtd-multicast
      - fence-virtd-serial
      - fence-virtd-tcp
  package_placeholders:
    - srpm_name: resource-agents
      build_dependencies: []
      limit_arches: []
      rpms:
        - rpm_name: resource-agents-cloud
          description: This package is only provided in RHEL
          dependencies:
            - ha-cloud-support
            - socat
          limit_arches:
            - x86_64
  labels:
    - eln
    - c10s
