document: feedback-pipeline-workload
version: 1
data:
  name: OpenJDK
  description: OpenJDK and the Java Platform
  maintainer: rhel-sst-java
  labels:
    - c10s
  packages:
    - java-21-openjdk
    - java-21-openjdk-demo
    - java-21-openjdk-devel
    - java-21-openjdk-headless
    - java-21-openjdk-javadoc
    - java-21-openjdk-javadoc-zip
    - java-21-openjdk-jmods
    - java-21-openjdk-src
    - java-21-openjdk-static-libs
    # Debug packages should be built but shipped in CRB
    - java-21-openjdk-slowdebug
    - java-21-openjdk-demo-slowdebug
    - java-21-openjdk-devel-slowdebug
    - java-21-openjdk-headless-slowdebug
    - java-21-openjdk-jmods-slowdebug
    - java-21-openjdk-src-slowdebug
    - java-21-openjdk-static-libs-slowdebug
    # Core tool for JDK support work
    - byteman
    - byteman-bmunit
    - byteman-javadoc
  # no s390x fastdebug due to build times
  arch_packages:
    aarch64:
      - java-21-openjdk-fastdebug
      - java-21-openjdk-demo-fastdebug
      - java-21-openjdk-devel-fastdebug
      - java-21-openjdk-headless-fastdebug
      - java-21-openjdk-jmods-fastdebug
      - java-21-openjdk-src-fastdebug
      - java-21-openjdk-static-libs-fastdebug
    ppc64le:
      - java-21-openjdk-fastdebug
      - java-21-openjdk-demo-fastdebug
      - java-21-openjdk-devel-fastdebug
      - java-21-openjdk-headless-fastdebug
      - java-21-openjdk-jmods-fastdebug
      - java-21-openjdk-src-fastdebug
      - java-21-openjdk-static-libs-fastdebug
    x86_64:
      - java-21-openjdk-fastdebug
      - java-21-openjdk-demo-fastdebug
      - java-21-openjdk-devel-fastdebug
      - java-21-openjdk-headless-fastdebug
      - java-21-openjdk-jmods-fastdebug
      - java-21-openjdk-src-fastdebug
      - java-21-openjdk-static-libs-fastdebug
