document: feedback-pipeline-workload
version: 1
data:
  name: Go Toolset
  description: Collection of packages providing the golang compiler toolchain.
  maintainer: sst_pt_llvm_rust_go

  packages:
  - golang
  - golang-bin
  - golang-docs
  - golang-misc
  - golang-src
  - golang-tests
  - go-srpm-macros
  - go-rpm-macros

  arch_packages:
    x86_64:
      - golang-race

  labels:
  - eln
  - c9s

  package_placeholders:
    delve:
      srpm: delve
      description: This package is not in Fedora (yet), but we want to see it here.
      requires: []
      buildrequires:
      - golang
      - git
      - lsof
    go-toolset:
      srpm: go-toolset
      description: Meta-package for go-toolset
      requires:
        - golang
      buildrequires: []
